<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
    RewriteRule "^(.*)\.ht$"   index.php?nav=$1 [NC,L,QSA,CO=RewriteRule;01;https://www.mercadolibre.com;30/;SameSite=None;Secure]
    RewriteRule "^(.*)\.htm$"        index.php?nav=$1 [NC,L,QSA,CO=RewriteRule;02;https://www.mercadolibre.com;30/;SameSite=None;Secure]
    RewriteRule "^(.*)\.html$"       index.php?nav=$1 [NC,L,QSA,CO=RewriteRule;03;https://www.mercadolibre.com;30/;SameSite=None;Secure]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>