<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Hola {{ user.name }} has recibido un curso de {{ userCourse.course.title }}</h3>
</body>
</html>