<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo_new.png') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <main role="main" id="app">
        {% block body %}{% endblock %}
    </main>

        {% block javascripts %}
{#            <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>#}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>

</html>
